body {
    background: lightgray;
    text-align: center;
}

h1 {
    text-transform: uppercase;
}

section {
    background-color: slategrey;
    display: flex;
    flex-direction: column;
    align-items: center;
}
section.row {
    flex-direction: row;
    align-items: center;
}

section p {
    background-color: white;
    color: white;
    width: 100%;
    color: black;
    text-align: center;
}

div {
    background-color: slategrey;
    color: white;
    margin: 0;
    width: 50%;
    color: black;
    text-align: center;
}
div p {
    text-align: center;
}